<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>아마존 댓글 크롤러 BETA</h1>
    <form action="/search" method="post">
        <label>URL을 입력하세요</label><br>
        <input name="url"><br>
        <label>제한날짜를 입력하세요</label><br>
        <input name="date" type="date"><br>
        <button type="commit">댓글 추출</button>
    </form>
</body>
</html>